@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*:disabled {
  @apply cursor-not-allowed opacity-60;
}

html {
  overflow-y: auto !important;
  padding: 0 !important;
}

.btn {
  @apply shadow-md py-3 px-6 transition duration-300;
}

.content {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 3px #0000000a;
  border-radius: 8px;
  opacity: 1;
  @apply pt-3 pb-4 px-6 rounded-md bg-white;
}
.content h1 {
  font-size: 21px;
  margin: 1rem 0;
  @apply text-[#2c2f44];
}
.content h2 {
  font-size: 16px;
  margin: 0.5rem 0;
  @apply font-bold text-m-grey-1;
}
.content h3 {
  font-size: 16px;
  margin: 0.5rem 0;
  @apply font-bold text-m-grey-1;
}
.content p {
  @apply text-base font-normal pb-2 text-m-grey-1;
}

.outline input:focus-within ~ label,
.outline input:not(:placeholder-shown) ~ label,
.outline *:focus-within ~ label,
.outline *:not(:placeholder-shown) ~ label,
.outline select:focus-within ~ label,
.outline select:not(:placeholder-shown) ~ label,
.outline textarea:focus-within ~ label,
.outline textarea:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-4 z-0 ml-3 px-1 py-0;
}
.react-select__input,
.react-select__input:focus {
  border: none !important;
  box-shadow: none !important;
}
input:focus {
  outline: none !important;
  box-shadow: none;
}
/* width */
.custom-scroll *::-webkit-scrollbar,
.seller-info *::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
.custom-scroll *::-webkit-scrollbar-track,
.seller-info *::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
}

/* Handle */
.custom-scroll *::-webkit-scrollbar-thumb,
.seller-info *::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 100vh;
  border: 1px solid #edf2f7;
}

/* Handle on hover */
.custom-scroll *::-webkit-scrollbar-thumb:hover,
.seller-info *::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

.listing-tile.dropdown:hover .dropdown-menu {
  display: block;
}

/*home page slider*/
.top_brand .slick-slide,
.top_selling .slick-slide,
.top_deals .slick-slide,
.by_price .slick-slide,
.top_articles .slick-slide {
  margin: 1rem 0.5rem;
}

.top_brand .slick-list,
.top_selling .slick-list,
.top_deals .slick-list,
.by_price .slick-list,
.top_articles .slick-list {
  margin-right: -0.25rem;
  margin-left: -0.5rem;
}
.top_brand .prev,
.top_selling .prev,
.top_deals .prev,
.by_price .prev,
.top_articles .prev {
  left: 5px;
}
.top_brand .next,
.top_selling .next,
.top_deals .next,
.by_price .next,
.top_articles .next {
  right: 5px;
}

.top_brand .slick-slide div,
.top_selling .slick-slide div,
.top_deals .slick-slide div,
.by_price .slick-slide div,
.top_articles .slick-slide div {
  height: 100%;
}
.top_brand .slick-track,
.top_selling .slick-track,
.top_deals .slick-track,
.by_price .slick-track,
.top_articles .slick-track {
  margin-left: 0;
  margin-right: 0;
}
/* End Home Page */

.bestDealCarousel .prev,
.bestDealCarousel .next {
  top: 45% !important;
}

.fullimage_prev,
.fullimage_next {
  top: 50% !important;
  background: rgb(112, 108, 108);
  font-size: 32px;
}
.fullimage_next:hover,
.fullimage_prev:hover {
  background-color: #f0ebeb0a !important;
}

input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
